<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Usuario" [(ngModel)]="username" type="text" placeholder="usuario@presenteprofe.cl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" [(ngModel)]="password" type="password" placeholder="********"></ion-input>
        </ion-item>

        <!-- {{ password }} -->

        <ion-button expand="full" (click)="onLogin()">LOGIN</ion-button>
  
      </ion-list>
    </ion-list>
  </div>
</ion-content>
